---
---

@import "{{ site.theme }}";


body {
  background-image: url('/assets/images/Tree.jpeg');
  background-position: center;
  background-size: contain; 
  background-repeat: no-repeat;
}
 

sidebar {
  text-align: center;
}
