---
---

@import "{{ site.theme }}";

.sidebar {
  text-align: center;
}



body {
  background-image: url('/assets/images/Tree.jpeg'), url('/assets/images/maple.jpeg');
  background-size: 50% 100%, 50% 100%;
  background-position: left, right;
  background-repeat: repeat, repeat;
}
